* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 1rem = 16px */
  line-height: 1.5;
  font-family: Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

button,
input,
textarea {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: 100%;
  font-size: 1rem;
  background: var(--bg-color);
  color: #000000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* ::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-color)
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--border-color);
    transition: all ease 0.3s;
    cursor: pointer;

  }
  
  @media screen and (min-width: 1024px) {
  ::-webkit-scrollbar-thumb:hover {
      background: var(--accent-color);
      transition: all ease 0.3s;

    }
  }
  */
