:root {

    --bg-color: rgb(13 12 13);
    --accent-color: rgb(255 169 214);
    --btn-color: rgb(141 94 118);
    --btn-color-hover: rgb(111, 74, 93);
    --border-color: rgb(179 119 150);
    --accent-grey: rgb(104 103 104);
    --text-color: rgb(255 255 255);
    --dark-text: rgb(142 142 142);


}