:root {

    --bg-color: rgb(13 12 13);
    --accent-color: rgb(255 169 214);
    --btn-color: rgba(255, 169, 214, 0.45);
    --btn-color-hover: rgba(255, 169, 214, 0.6);
    --btn-color-active: rgba(255, 134, 187, 1);
    --border-color: rgba(255, 169, 214, 0.7);
    --accent-red: rgba(255, 0, 112, 1);
    --accent-grey: rgb(104 103 104);
    --transparent-fill: rgba(254, 253, 254, 0.30);
    --text-color: rgb(255 255 255);
    --dark-text: rgb(142 142 142);
    --text-grey: #DBDBDB;

}